# Byte-compiled / optimized / DLL files
*/__pycache__/

# Unit test / coverage reports
*/htmlcov/
*/.coverage
*/.coverage.*
*/.cache
*/.pytest_cache/

# pyenv
*/.python-version

# pipenv
*/Pipfile.lock

# venv
*/venv/
*/ENV/
*/env/
*/env.bak/
*/venv.bak/

# mypy
*/.mypy_cache/
*/.dmypy.json

# IDEs and editors
*/.vscode/
*/.idea/

# Stage-specific
*/__pycache__/
*/*.pyc

# Tests cache
*/__pycache__/
*/tests/*.pyc
*/.env
